// COLOURS

$red: rgb(238, 101, 83);
$green: rgb(89, 205, 144);
$blue: rgb(63, 167, 214);
$yellow: rgb(250, 192, 94);
$peach: rgb(247, 157, 132);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

// FONTS

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Pompiere&family=Raleway:wght@400;800&display=swap');

// WIDTHS

$min_tablet_vw: 768px;
$min_tablet_width: 768px;

$max_tablet_vw: 1024px;
$min_tablet_width: 1024px;

$min_desktop_vw: 1280px;
$min_desktop_width: 1200px;


// ---------

body  {
    margin: 0;
    padding: 0;
}

main  {
    width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

section  {

    &:first-child  {
        height: 600px;
    }
    
    &:nth-child(n+2)  {
        height: 200px;
    }



    header  {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;



        .circle  {
            border-style: none;
            border-radius: 50%;
            width: 9rem;
            height: 9rem;
            display: flex;
            flex-direction: column;
            text-align: center;
            font-size: 1.25rem;
            padding-top: 0.5rem;
            box-sizing: border-box;
            font-family: 'Raleway', sans-serif;
            font-weight: bold;

            span  {
                font-size: 4rem;
                font-weight: 400;
            }
        }
    }
    
}

#intro  {
    background-image: url('../img/example-house.webp');

    #welcome-to {
        color: $white;
        font-family: 'Pompiere', sans-serif;
        font-weight: bold;
        font-size: 2.5rem;
        letter-spacing: 2px;
        background-image: linear-gradient(to right, $black, $white);
        padding: 1rem 2rem;
    }
}

#features  {
    .circle  {
        background-color: $yellow;
    }
}

#neighbourhood  {
    .circle  {
        background-color: $green;
    }
}

#ameneties  {
    .circle  {
        background-color: $peach;
    }
}

#education  {
    .circle  {
        background-color: $blue;
    }
}

#safety  {
    .circle  {
        background-color: $red;
    }
}


